Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-braces-around-statements
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\](include|src|tests)[/\\].*'
FormatStyle: file
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
